*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(46, 1, 143);
    color: rgb(3, 3, 3);
    font-family: Verdana;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
    padding: 15px 80px;
}
.nav-links{
    display: flex;
    gap: 100px;
    text-decoration: none;
    color: black;
    align-items: center;
}



.click{
    padding: 10px;
    border-radius: 15px;
    background-color: black;
    color: blue;
    font-size: medium;
    font-family: Verdana;
    border: 2px solid rgb(9, 9, 10);
}
.name{
    font-size: 30px;
    font-weight: bold;
    color: rgb(244, 243, 243);
}
.hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    opacity: 50%;
}
